.section_navigation1-light {
    z-index: 99;
    background-color: var(--_theme---background);
    color: var(--_theme---text);
    --_theme---text: var(--base-color--primary-600);
    --_theme---background: var(--base-color--offwhite);
    --_theme---border: var(--base-color--primary-600-o50);
    --_theme---selection--background: var(--base-color--primary-600);
    --_theme---selection--text: var(--base-color--primary-300);
    --_theme---background-alt: var(--base-color--light-gray);
    --_theme---text-alt: var(--base-color--primary-600);
    --_theme---accent: var(--base-color--primary-500);
    --_theme---button-primary--background: var(--base-color--primary-500);
    --_theme---button-primary--border: var(--_theme---button-primary--background);
    --_theme---button-primary--text: var(--base-color-neutral--white);
    --_theme---button-primary--background-hover: var(--base-color--primary-600);
    --_theme---button-primary--border-hover: var(--_theme---button-primary--background-hover);
    --_theme---button-primary--text-hover: var(--base-color-neutral--white);
    --_theme---button-secondary--background: var(--base-color-neutral--transparent);
    --_theme---button-secondary--border: var(--base-color--primary-500);
    --_theme---button-secondary--text: var(--base-color--primary-500);
    --_theme---button-secondary--background-hover: var(--base-color--primary-300);
    --_theme---button-secondary--border-hover: var(--base-color--primary-600);
    --_theme---button-secondary--text-hover: var(--base-color--primary-600);
    --_theme---button-tertiary--background: var(--base-color-neutral--transparent);
    --_theme---button-tertiary--border: var(--base-color-neutral--transparent);
    --_theme---button-tertiary--text: var(--base-color--primary-600);
    --_theme---button-tertiary--background-hover: var(--base-color-neutral--transparent);
    --_theme---button-tertiary--border-hover: var(--base-color-neutral--transparent);
    --_theme---button-tertiary--text-hover: var(--base-color--primary-600);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
    position: fixed;
}

.w-nav {
    z-index: 1000;
    background: #ddd;
    position: relative;
}
.w-nav:before, .w-nav:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
}
.w-nav:after {
    clear: both;
}
.navigation1_container {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: .25fr 1fr .25fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    place-items: center;
    width: 100%;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}
.w-nav-overlay {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
}
#w-node-cc3c8b4c-255c-9d0d-0542-02689582de07-9582de05 {
    justify-self: start;
}

.navigation1_logo-link {
    color: var(--_theme---text);
    width: 100%;
    max-width: 6.25rem;
    padding-left: 0;
}
.w-nav-brand {
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
}
#w-node-cc3c8b4c-255c-9d0d-0542-02689582de09-9582de05 {
    justify-self: center;
}

.navigation1_menu-light {
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: static;
}
.w-nav-menu {
    float: right;
    position: relative;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
#w-node-cc3c8b4c-255c-9d0d-0542-02689582de1f-9582de05 {
    justify-self: end;
}
.navigation1_button-group {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: flex;
}
#w-node-cc3c8b4c-255c-9d0d-0542-02689582de09-9582de05 {
    justify-self: center;
}
.navigation1_menu-light {
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: static;
}

.w-nav-menu {
    float: right;
    position: relative;
}
.navigation1_link {
    color: var(--_theme---text);
    padding: 1.75rem 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    transition: color .35s;
    display: inline-block;
}

.w-nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.w-dropdown {
    text-align: left;
    z-index: 900;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
}
.navigation1_dropdown-toggle {
    grid-column-gap: .25rem;
    color: var(--_theme---text);
    justify-content: center;
    align-items: center;
    padding: 1.75rem .75rem;
    font-size: 1.25rem;
    font-weight: 500;
    transition: color .35s;
    display: flex;
}

.w-dropdown-toggle {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-right: 40px;
    display: inline-block;
}
.w-dropdown-btn, .w-dropdown-toggle, .w-dropdown-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    position: relative;
}
.navigation_dropdown-list.navigation-dropdown-list {
    border-radius: var(--_ui-style---border-radius--radius-xsmall);
    background-color: var(--_theme---background);
    box-shadow: none;
    --_theme---text: var(--base-color--primary-700);
    --_theme---background: var(--base-color--primary-300);
    --_theme---border: var(--base-color--primary-700-o50);
    --_theme---selection--background: var(--base-color--primary-600);
    --_theme---selection--text: var(--base-color--primary-300);
    --_theme---background-alt: var(--base-color--light-gray);
    --_theme---text-alt: var(--base-color--primary-600);
    --_theme---accent: var(--base-color--primary-200);
    --_theme---button-primary--background: var(--base-color--primary-500);
    --_theme---button-primary--border: var(--_theme---button-primary--background);
    --_theme---button-primary--text: var(--base-color-neutral--white);
    --_theme---button-primary--background-hover: var(--base-color--primary-600);
    --_theme---button-primary--border-hover: var(--_theme---button-primary--background-hover);
    --_theme---button-primary--text-hover: var(--base-color-neutral--white);
    --_theme---button-secondary--background: var(--base-color-neutral--transparent);
    --_theme---button-secondary--border: var(--base-color--primary-600);
    --_theme---button-secondary--text: var(--base-color--primary-600);
    --_theme---button-secondary--background-hover: var(--base-color--primary-300);
    --_theme---button-secondary--border-hover: var(--base-color--primary-500);
    --_theme---button-secondary--text-hover: var(--base-color--primary-500);
    --_theme---button-tertiary--background: var(--base-color-neutral--transparent);
    --_theme---button-tertiary--border: var(--base-color-neutral--transparent);
    --_theme---button-tertiary--text: var(--base-color--primary-600);
    --_theme---button-tertiary--background-hover: var(--base-color-neutral--transparent);
    --_theme---button-tertiary--border-hover: var(--base-color-neutral--transparent);
    --_theme---button-tertiary--text-hover: var(--base-color--primary-600);
    width: 100%;
    min-width: 40rem;
    padding: .75rem;
    overflow: clip;
}

.w-dropdown-toggle {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-right: 40px;
    display: inline-block;
}
.w-dropdown-btn, .w-dropdown-toggle, .w-dropdown-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    position: relative;
}
.w-dropdown-list {
    background: #ddd;
    min-width: 100%;
    display: none;
    position: absolute;
}
.navigation1_dropdown-toggle {
    grid-column-gap: .25rem;
    color: var(--_theme---text);
    justify-content: center;
    align-items: center;
    padding: 1.75rem .75rem;
    font-size: 1.25rem;
    font-weight: 500;
    transition: color .35s;
    display: flex;
}