.home_hero_wrap {
  background-color: var(--_theme---background);
  color: var(--_theme---text);
  --_theme---text: var(--base-color--primary-600);
  --_theme---background: var(--base-color--offwhite);
  --_theme---border: var(--base-color--primary-600-o50);
  --_theme---selection--background: var(--base-color--primary-600);
  --_theme---selection--text: var(--base-color--primary-300);
  --_theme---background-alt: var(--base-color--light-gray);
  --_theme---text-alt: var(--base-color--primary-600);
  --_theme---accent: var(--base-color--primary-500);
  --_theme---button-primary--background: var(--base-color--primary-500);
  --_theme---button-primary--border: var(--_theme---button-primary--background);
  --_theme---button-primary--text: var(--base-color-neutral--white);
  --_theme---button-primary--background-hover: var(--base-color--primary-600);
  --_theme---button-primary--border-hover: var(--_theme---button-primary--background-hover);
  --_theme---button-primary--text-hover: var(--base-color-neutral--white);
  --_theme---button-secondary--background: var(--base-color-neutral--transparent);
  --_theme---button-secondary--border: var(--base-color--primary-500);
  --_theme---button-secondary--text: var(--base-color--primary-500);
  --_theme---button-secondary--background-hover: var(--base-color--primary-300);
  --_theme---button-secondary--border-hover: var(--base-color--primary-600);
  --_theme---button-secondary--text-hover: var(--base-color--primary-600);
  --_theme---button-tertiary--background: var(--base-color-neutral--transparent);
  --_theme---button-tertiary--border: var(--base-color-neutral--transparent);
  --_theme---button-tertiary--text: var(--base-color--primary-600);
  --_theme---button-tertiary--background-hover: var(--base-color-neutral--transparent);
  --_theme---button-tertiary--border-hover: var(--base-color-neutral--transparent);
  --_theme---button-tertiary--text-hover: var(--base-color--primary-600);
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
  position: relative;
}
.padding-global {
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.container-main {
  width: 100%;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  container-type: inline-size;
}
.padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.text-align-center {
  --_alignment---direction: center;
  text-align: var(--_alignment---direction, center);
}
.max-width-huge {
  width: 100%;
  max-width: 66rem;
}
[data-number="100"] {
  --number: 100;
}
.hero_effect_component {
  max-width: calc(var(--number) * 1ch);
  text-align: var(--_alignment---direction, start);
  align-items: var(--_alignment---direction, start);
}
.align-center {
  margin-left: auto;
  margin-right: auto;
}
.heading-style-display.hero {
  line-height: 1.1;
}

.heading-style-display {
  font-family: var(--_typography---font-family--heading);
  color: var(--_theme---text);
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 1;
}
.margin-bottom-text {
  margin-bottom: 2rem;
}
.text-segment {
  z-index: 4;
  position: relative;
}
.placeholder-icon {
  aspect-ratio: 4.8 / 6.2;
  vertical-align: baseline;
  will-change: transform;
  background-color: color-mix(in hsl,currentColor 10%, transparent);
  width: 100%;
  max-width: 5rem;
  height: 100%;
  margin-top: -5rem;
  display: inline-block;
  position: relative;
  overflow: visible;
}
.hero_visual.is-secondary {
  --_theme---text: var(--base-color--primary-600);
  --_theme---background: var(--base-color--primary-200);
  --_theme---border: var(--base-color--primary-600-o50);
  --_theme---selection--background: var(--base-color--primary-600);
  --_theme---selection--text: var(--base-color--primary-300);
  --_theme---background-alt: var(--base-color--light-gray);
  --_theme---text-alt: var(--base-color--secondary-text);
  --_theme---accent: var(--base-color--primary-500);
  --_theme---button-primary--background: var(--base-color--primary-500);
  --_theme---button-primary--border: var(--_theme---button-primary--background);
  --_theme---button-primary--text: var(--base-color-neutral--white);
  --_theme---button-primary--background-hover: var(--base-color--primary-600);
  --_theme---button-primary--border-hover: var(--_theme---button-primary--background-hover);
  --_theme---button-primary--text-hover: var(--base-color-neutral--white);
  --_theme---button-secondary--background: var(--base-color-neutral--transparent);
  --_theme---button-secondary--border: var(--base-color--primary-600);
  --_theme---button-secondary--text: var(--base-color--primary-600);
  --_theme---button-secondary--background-hover: var(--base-color--primary-300);
  --_theme---button-secondary--border-hover: var(--base-color--primary-500);
  --_theme---button-secondary--text-hover: var(--base-color--primary-500);
  --_theme---button-tertiary--background: var(--base-color-neutral--transparent);
  --_theme---button-tertiary--border: var(--base-color-neutral--transparent);
  --_theme---button-tertiary--text: var(--base-color--primary-600);
  --_theme---button-tertiary--background-hover: var(--base-color-neutral--transparent);
  --_theme---button-tertiary--border-hover: var(--base-color-neutral--transparent);
  --_theme---button-tertiary--text-hover: var(--base-color--primary-600);
}
.hero_visual {
  border-radius: var(--_ui-style---border-radius--radius-tiny);
  background-color: var(--_theme---background);
  --_theme---text: var(--base-color--primary-700);
  --_theme---background: var(--base-color--primary-300);
  --_theme---border: var(--base-color--primary-700-o50);
  --_theme---selection--background: var(--base-color--primary-600);
  --_theme---selection--text: var(--base-color--primary-300);
  --_theme---background-alt: var(--base-color--light-gray);
  --_theme---text-alt: var(--base-color--primary-600);
  --_theme---accent: var(--base-color--primary-200);
  --_theme---button-primary--background: var(--base-color--primary-500);
  --_theme---button-primary--border: var(--_theme---button-primary--background);
  --_theme---button-primary--text: var(--base-color-neutral--white);
  --_theme---button-primary--background-hover: var(--base-color--primary-600);
  --_theme---button-primary--border-hover: var(--_theme---button-primary--background-hover);
  --_theme---button-primary--text-hover: var(--base-color-neutral--white);
  --_theme---button-secondary--background: var(--base-color-neutral--transparent);
  --_theme---button-secondary--border: var(--base-color--primary-600);
  --_theme---button-secondary--text: var(--base-color--primary-600);
  --_theme---button-secondary--background-hover: var(--base-color--primary-300);
  --_theme---button-secondary--border-hover: var(--base-color--primary-500);
  --_theme---button-secondary--text-hover: var(--base-color--primary-500);
  --_theme---button-tertiary--background: var(--base-color-neutral--transparent);
  --_theme---button-tertiary--border: var(--base-color-neutral--transparent);
  --_theme---button-tertiary--text: var(--base-color--primary-600);
  --_theme---button-tertiary--background-hover: var(--base-color-neutral--transparent);
  --_theme---button-tertiary--border-hover: var(--base-color-neutral--transparent);
  --_theme---button-tertiary--text-hover: var(--base-color--primary-600);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 50% auto auto 50%;
  overflow: clip;
  transform: rotate(2deg) translate(-50%, -30%);
}
.hero_visual.is-secondary-alt {
  --_theme---text: var(--base-color--primary-600);
  --_theme---background: var(--base-color--primary-100);
  --_theme---border: var(--base-color--primary-600-o50);
  --_theme---selection--background: var(--base-color--primary-600);
  --_theme---selection--text: var(--base-color--primary-300);
  --_theme---background-alt: var(--base-color--light-gray);
  --_theme---text-alt: var(--base-color--secondary-text-alt);
  --_theme---accent: var(--base-color--primary-500);
  --_theme---button-primary--background: var(--base-color--primary-500);
  --_theme---button-primary--border: var(--_theme---button-primary--background);
  --_theme---button-primary--text: var(--base-color-neutral--white);
  --_theme---button-primary--background-hover: var(--base-color--primary-600);
  --_theme---button-primary--border-hover: var(--_theme---button-primary--background-hover);
  --_theme---button-primary--text-hover: var(--base-color-neutral--white);
  --_theme---button-secondary--background: var(--base-color-neutral--transparent);
  --_theme---button-secondary--border: var(--base-color--primary-600);
  --_theme---button-secondary--text: var(--base-color--primary-600);
  --_theme---button-secondary--background-hover: var(--base-color--primary-300);
  --_theme---button-secondary--border-hover: var(--base-color--primary-500);
  --_theme---button-secondary--text-hover: var(--base-color--primary-500);
  --_theme---button-tertiary--background: var(--base-color-neutral--transparent);
  --_theme---button-tertiary--border: var(--base-color-neutral--transparent);
  --_theme---button-tertiary--text: var(--base-color--primary-600);
  --_theme---button-tertiary--background-hover: var(--base-color-neutral--transparent);
  --_theme---button-tertiary--border-hover: var(--base-color-neutral--transparent);
  --_theme---button-tertiary--text-hover: var(--base-color--primary-600);
  transform: rotate(-2deg) translate(-50%, -30%);
}
.image_wrap:where(.w-variant-9fc6b94f-556d-2daa-9ca9-46442b1ee8f8) {
  border-top-left-radius: var(--_ui-style---border-radius--radius-xxsmall);
  border-top-right-radius: var(--_ui-style---border-radius--radius-xxsmall);
  border-bottom-left-radius: var(--_ui-style---border-radius--radius-xxsmall);
  border-bottom-right-radius: var(--_ui-style---border-radius--radius-xxsmall);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
  aspect-ratio: unset !important;
}

.image_wrap {
  aspect-ratio: 2;
  border-radius: var(--_ui-style---border-radius--radius-xxsmall);
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: clip;
}
.image_component {
  aspect-ratio: auto;
}

img {
  object-fit: cover;
  object-position: calc(var(--x, 50) * 1%) calc(var(--y, 50) * 1%);
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  inset: 0%;
}
img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}
img {
  border: 0;
}
[data-number="50"] {
  --number: 50;
}

.text-rich-text {
  max-width: calc(var(--number) * 1ch);
  text-align: var(--_alignment---direction, start);
  align-items: var(--_alignment---direction, start);
  text-wrap: var(--_text-style---text-wrap);
  text-transform: var(--_text-style---text-transform, none);
  flex-flow: column;
  min-width: 100%;
  display: flex;
}
.text-size-medium {
  letter-spacing: -.03rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1;
}
.margin-bottom-text {
  margin-bottom: 2rem;
}
.w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

.w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
  margin-bottom: 0 !important;
}
.text-rich-text p {
  margin-bottom: 1rem;
}
.heading_wrap > *, .text-rich-text > * {
  width: 100%;
  max-width: inherit !important;
  margin-inline: 0 !important;
  margin-top: 0 !important;
}
.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: stretch;
  justify-content: var(--_alignment---direction, start);
  flex-wrap: wrap;
  min-height: 3.5rem;
  display: flex;
}

.margin-button-group {
  margin-top: 3rem;
}
.u-display-contents {
  display: contents;
}
.button_wrap {
  grid-column-gap: .63rem;
  grid-row-gap: .63rem;
  border: var(--_ui-style---border-radius--border--border-width) solid var(--_button-style---border);
  border-radius: var(--_ui-style---border-radius--radius-tiny);
  background-color: var(--_button-style---background);
  color: var(--_button-style---text);
  text-align: center;
  white-space: nowrap;
  --_button-style---border: var(--_theme---button-primary--border);
  --_button-style---background: var(--_theme---button-primary--background);
  --_button-style---text: var(--_theme---button-primary--text);
  --_button-style---border-hover: var(--_theme---button-primary--border-hover);
  --_button-style---background-hover: var(--_theme---button-primary--background-hover);
  --_button-style---text-hover: var(--_theme---button-primary--text-hover);
  justify-content: space-between;
  align-items: center;
  padding: .75rem 1.38rem;
  font-size: 1.38rem;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  transition: opacity .35s, border-color .35s, color .35s, background-color .35s;
  display: flex;
  position: relative;
}
.u-cover-absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.clickable_wrap {
  z-index: 3;
  border-radius: inherit;
}
.clickable_link {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0%;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
a {
  color: var(--base-color--primary-500);
  text-decoration: none;
}
a {
  background-color: #0000;
}
.u-sr-only {
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  width: 1px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: absolute;
  inset: 0% 0% auto;
  overflow: hidden;
}
button:not(:disabled) {
  cursor: pointer;
}

.clickable_btn {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  inset: 0%;
}
button, [type=button], [type=reset] {
  cursor: pointer;
  -webkit-appearance: button;
  border: 0;
}
button {
  background-color: unset;
  padding: unset;
  text-align: inherit;
}
button, html input[type=button], input[type=reset] {
  -webkit-appearance: button;
  cursor: pointer;
}
button, select {
  text-transform: none;
}
button {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.u-sr-only {
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  width: 1px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: absolute;
  inset: 0% 0% auto;
  overflow: hidden;
}
.button_icon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.icon-1x1-xxsmall {
  width: 1rem;
  height: 1rem;
  position: relative;
}
svg:not(:root) {
  overflow: hidden;
}

.u-svg {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}
svg {
  max-width: 100%;
}
.u-path {
  stroke-width: var(--_ui-style---border-radius--border--border-width);
  stroke: currentColor;
  vector-effect: non-scaling-stroke;
}